body{
    font-family: "Adobe Caslon";
    font-size: 15px;
    margin: 0px;
}

.logo img{
    width: 400px;
    margin-top: 10px;
    margin-bottom: -10px;
}

header{
    width: 100%;
    height: 50px;
    background-color: #B0C4DE;
}

header ul{
    list-style: none;
    line-height: 50px;
}

header ul li{
    float: left;
    color: white;
    font-size: 17px;
    padding-right: 30px;
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover{
    color: darkblue;
}

.number{
    float: right;
    margin-right: 100px;
    margin-top: 15px;
    font-size: 20px;
    color: #F8F8FF;
}

main{
    margin-left: 20px;
}

h2{
    border-bottom: 1px dashed #B0C4DE;
    font-size: 28px;
    color: #000077;
}

.menu{
    color: #4682B4;
    margin-left: 50px;
}

.menu li{
    font-size: 20px;
    margin-bottom: 15px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #191970;
    color: white;
    text-align: center;
    line-height: 60px;
    position: absolute;
    bottom: 0;
}
